body {
    background-color: rgb(255, 176, 85);
}

.font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
}

.fontsmall {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.down {
    position: relative;
    top: 30px;
}

strong {
    position: relative;
    top: 30px;
}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    margin: -6px 0px 0px 0px;
}

.par {
    font-family: monospace;
    font-size: 25px;
}

.active {
    background-color:  rgb(255, 176, 85);
    box-shadow: 5px 0px 20px 0px black;
}

ul.foot {
    list-style-type: none;
    position: relative;
    bottom: -10px;
    left: -10px;
    width: 100%;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: orangered;
    border-bottom-width: 100%;
    box-shadow: 5px 0px 20px 0px black;
}

li.buttonfoot {
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    padding: 5px;
}

ul.bar {
    list-style-type: none;
    position: fixed;
    top: 0;
    left: -10px;
    width: 100%;
    margin: -8px;
    overflow: hidden;
    background-color: orangered;
    border-bottom-width: 100%;
    box-shadow: 5px 0px 20px 0px black;
}

li.button {
    float: left;
    margin-top: 10px;
    margin-left: 25px;
}

a {
    display: block;
    color: black;
    text-align: left;
    text-decoration: none;
    margin: 8px;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a.link {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: orangered;
    width: 200px;
    height: 60px;
}

a.picture {
    display: block;
    margin: -8px;
    padding: -10px;
    background-color: orangered;
}

a:hover {
    background-color: rgb(255, 176, 85);
    box-shadow: 5px 0px 20px 0px black;
}

.picjvl {
    position: absolute;
    left: 1000px;
    top: 200px;
    box-shadow: 5px 0px 20px 0px black;
}

.picrl {
    position: absolute;
    left: 1000px;
    top: 175px;
    box-shadow: 5px 0px 20px 0px black;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 10px;
    padding-top: 5px;
}

th {
    background-color: orangered;
    font-size: 25px;
}

td {
    background-color: rgb(255, 137, 59);
}









/* Grid starts here */

.grid-container {
    display: grid;
    grid-template-rows: 200px;
    grid-template-areas: 
    'nav1 nav2 nav3 nav4 . . .'
    '. . . . . . .'
    '. . . . . . .'
    '. . . . . . .'
    '. . . . . . .'
    '. . . . . . .'
    '. . . . . . .'
    '. . . . . . .'
    '. . . . . . .'
    '. . . . . . .'
    '. . . . . . .'
    '. . . . . . .';
    margin: -8px;
    grid-gap: 15px;
    background-color: orangered;
    box-shadow: 5px 0px 20px 0px black;
}

.navbar-font {
    font-size: 30px; 
}

.navbar1 {
    grid-area:'nav1';
    background-color: orangered;
    position: center;
    padding: 10px;
}

.navbar2 {
    grid-area:'nav2';
    background-color: orangered;
    position: center;
    padding: 10px;
}

.navbar3 {
    grid-area:'nav3';
    background-color: orangered;
    position: center;
    padding: 10px;
}

.navbar4 {
    grid-area:'nav4';
    background-color: orangered;
    position: center;
    padding: 10px;
}

.background {
    grid-column: 1/1;
    grid-row: 1/5;
    background-color: rgb(255, 176, 85);
    padding: 10px;
}

